<div class="container-fluid todo__title">
    <div class="row todo__title--wrapper">
        <div class="col-sm-12 text-center todo__title--text">
            <h1>TODO APP</h1>
        </div>
    </div>
</div>
<div class="container ">
    <!-- <div class="row">
        <div class="col-sm-12">
            <app-todo-input (newTodoAdded) = "addTodo($event)"></app-todo-input> 
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12">
            <app-todo-list></app-todo-list>
        </div>
    </div>
</div>
    
